#cart-icon i {
    font-size: 16px;
    font-style: oblique;
    margin: 4px;
}
#name-logo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: black;
}
#nav-text{
    font-family: cursive;
    font-style: oblique;
    color: white;
}
#button-detail{
    background-color: rgb(51, 51, 51);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: oblique;
    border:  rgb(85, 85, 85);
    
}
#button-detail-count{
    background-color: rgb(68, 68, 68);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: oblique;
    padding: 6px;
    margin: 3px;
    width: 100px;
    border:  rgb(85, 85, 85);
}
#button-cart{
    background-color: rgb(51, 51, 51);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: oblique;
    border:  rgb(85, 85, 85);
}

#text-price{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: oblique;
    font-size: x-large;
}

#text-cart {
    font-size: x-large;
}

#cart-image {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
}
.containerr {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.containerr img {
    width: 100%;
    height: auto;
}

.containerr .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    background-color: rgb(51, 51, 51);
    border:  rgb(85, 85, 85);
    color: #f1f1f1;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.containerr .btn:hover{
    background-color: white;
    color: rgb(51, 51, 51);
    border:  rgb(85, 85, 85);

}
.about {
    position: relative;
}
.center {
    position: absolute;
    font-size: x-large;
    top: 16%;
    left: 62%;
    transform: translate(-50%, 50%);
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: white;
}
.about img {
    width: 100%;
    height: auto;
    opacity: 1;
}
.contact img {
    width: 100%;
    height: auto;
    opacity: 1;
}

.centere {
    position: absolute;
    font-size: x-large;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: white;
}
.contact {
    position: relative;
}
.containerCount {
    position: absolute;
    padding: 100px;

    
  
}
#card {
    position: relative;
  left: 5%;
  padding: 15px;
}
.numberCount {
    position: absolute;
    transform: translate(250%, -20%);
    -ms-transform: translate(-50%, 50%);
    background-color: rgb(51, 51, 51);
    border:  rgb(85, 85, 85);
    color: #f1f1f1;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buttonGoCart {
    background-color: rgb(51, 51, 51);
    margin: 150px;
    border:  rgb(85, 85, 85);
    color: #f1f1f1;
    font-size: 16px;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cantidad {
    position: relative;
    transform: translate(5%, 200%);
    -ms-transform: translate(0%, 50%);
}
.container{
    font-size: large;
}
.checkout {
    position: relative;
    font-size: x-large;
    padding: 20px 120px;
    transform: translate(46.3%, 2%);

}

.titleCart{
    padding: 20px 250px;
}
.titleForm{
    font-size: large;
}
#form {
    font-size: xx-large;
}
#buttonForm {
    font-size: large;
}
.itemListContainer {
    background-color:  rgb(223, 219, 219);
    margin-top: -30px;
    padding: 35px;
}
.navbar {
    background-color: rgb(27, 27, 27);
    color: rgb(27, 27, 27);
}
.pCart {
    position: relative;
    left: 25%;
    border: black;
}
.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
}
.imgCard {
    max-width: 200px;
    max-height: 200px;
}
.detallePedido{
    background-color: rgb(158, 158, 158)
}
.formularioPedido {
    background-color: rgb(143, 142, 142);
}
.totalDetallePedido {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: oblique;
    font-size: x-large;
}
.btnform {
    position: absolute;
    top: 50%;
    font-size: x-large;
    left: 50%;
    transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    color: #f1f1f1;
    font-size: 60px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.itemDetail{
    float: left;
    margin: 50px;
}

.cantidadDetail{
    float: center;
}